*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#050816;
    color:white;
}


/* Navbar */

nav{
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#080b1a;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:700;
}

.logo span{
    color:#00d9ff;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav ul li a{
    text-decoration:none;
    color:white;
}

nav ul li a:hover{
    color:#00d9ff;
}


/* Hero */

.hero{
    min-height:90vh;
    display:flex;
    align-items:center;
    padding:80px 8%;
}

.hero-left{
    max-width:750px;
}

.hero h4{
    color:#00d9ff;
    font-size:22px;
}

.hero h1{
    font-size:55px;
    margin:10px 0;
}

.hero h2{
    color:#00d9ff;
}

.hero p{
    margin-top:20px;
    color:#ccc;
    line-height:1.8;
}


/* Buttons */

.buttons{
    margin-top:30px;
    display:flex;
    gap:15px;
}

.btn,
.btn2{
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
}

.btn{
    background:#00d9ff;
    color:black;
}

.btn2{
    border:2px solid #00d9ff;
    color:white;
}


/* Social */

.social{
    margin-top:30px;
}

.social a{
    color:#00d9ff;
    font-size:25px;
    margin-right:20px;
}


/* Sections */

.section{
    padding:70px 8%;
}

.section-title{
    text-align:center;
    color:#00d9ff;
    font-size:35px;
    margin-bottom:40px;
}


/* Cards */

.card{
    background:#10162d;
    padding:30px;
    border-radius:20px;
    margin-bottom:25px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#00d9ff;
    margin-bottom:15px;
}

.card p{
    color:#ccc;
    line-height:1.8;
}


/* Skills */

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}


/* Images */

.project-image{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:15px;
}


/* Footer */

footer{
    text-align:center;
    padding:25px;
    background:#080b1a;
    color:#aaa;
}


/* Mobile */

@media(max-width:900px){

nav{
    flex-direction:column;
}

nav ul{
    flex-wrap:wrap;
    justify-content:center;
}

.hero h1{
    font-size:40px;
}

}
/* Remove unwanted text lines */
.about p,
.about p a,
section p {
    text-decoration: none !important;
    color: #dcdcdc;
}

/* About section professional layout */
.about {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 10%;
}

.about-container {
    max-width: 900px;
    text-align: center;
}

.about h2 {
    font-size: 45px;
    color: #00d9ff;
    margin-bottom: 30px;
}

.about p {
    font-size: 20px;
    line-height: 1.8;
    background: rgba(255,255,255,0.05);
    padding: 35px;
    border-radius: 20px;
}
